{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div style='width: 60%; margin: auto'>
    <header class="text-center">
    <h3 style="font-weight: bold" class="page-heading mb-0">Log In</h3>
    <hr>
</header>
    <form method='POST' action='.'> {% csrf_token %}
        {{ form|crispy}}
        <button type="submit" class="btn btn-primary">Enter</button>
    </form>
    <br>
    <p class="text-center text-secondary">If you don't have an account? <a href="{% url 'register' %}">Register</a>
    </p>
</div>
{% endblock %}